apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

namePrefix: dev-


configMapGenerator:
- behavior: merge
  literals:
  - database_host=dev-db.example.com
  name: app-config

labels:
- includeSelectors: true
  pairs:
    app: web-app